<!-- -->
<launch>
  <!-- global parameter to set CARLA as time source -->
  <param name="use_sim_time" value="True"/>

  <arg name="role_name" default="ego_vehicle"/>
  <arg name="objects_definition_file" default='$(find carla_ros_ad)/config/objects.json'/>
  <!-- use comma separated format "x,y,z,roll,pitch,yaw", 
    and parameter name spawn_point_<vehicle_name>. You can add
    as many spawn_point as vehicles defined in objects_definition_file-->
  <!-- <arg name="spawn_point_ego_vehicle" default='390.0,-87.0,0.3,0.0,0.0,90.0'/> -->
  <arg name="spawn_point_ego_vehicle" default=''/>
  <arg name="spawn_sensors_only" default="false"/>

  <arg name="control_id" default="control"/>
  

  <node pkg="carla_spawn_objects" type="carla_spawn_objects.py" name="$(anon carla_spawn_objects)" output="screen">
    <param name="objects_definition_file" value="$(arg objects_definition_file)" />
    <param name="spawn_point_ego_vehicle" value="$(arg spawn_point_ego_vehicle)" />
    <param name="spawn_sensors_only" value="$(arg spawn_sensors_only)" />
  </node>

  <include file="$(find carla_spawn_objects)/launch/set_initial_pose.launch">
    <arg name="role_name" value="$(arg role_name)"/>
    <arg name="control_id" value="$(arg control_id)"/>
  </include>

  <node pkg="carla_manual_control" type="carla_manual_control.py" name="carla_manual_control_$(arg role_name)" output="screen">
    <param name="role_name" value="$(arg role_name)"/>
  </node>
  
</launch>
